/*PROYECTO HECHO CON MARCACIÓN BEM*/

:root{
    /*Estas serán las variables predetermiandas para el diseño CSS*/
    --fuente-principal: 'Montserrat', sans-serif;

    --blanco: rgb(255, 255, 255); /* #FFFFFF */
    --negro: #000;
    --ocuro: #212121;

    --rojo-up: #881739;
    --claro-up-1: rgb(213, 190, 136);
    --claro-up-2: #F7F2EC;
    --gris: #757575;
    --gris-claro: #DFE9F3;

    /*Natural cokor palette 04 */
    --azul-natural: #1B65A7;
    --negro-natural: #040615;
    --gris-natural: #F2F4F5;
    --blanco-natural: #FFFFFF;
}
/* apply a natural box layout model to all elements, but allowing components to change */



     /*GLOBALES -------------------------------------------- */
html {
    box-sizing: border-box;
    font-size: 62.5%; /*ESTO ES PARTE DE LO QUE NOS PERMITE AGREGAR QUE UN REM=10px*/
    position: relative;
    min-height: 100%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    margin: 0;
    margin-bottom: 4rem;
    font-size: 16px; /*1 rem = 10 px*/
    font-family: 'Montserrat', sans-serif; /* Al colocar la fuente en el Body, esta afecta a todos los elementos*/
    /*Esta fuente es externa y obedece a las importaciones de Google Fonts y se aplicará de forma general 
    a todo el doc.
    Se conectó primero el API en el HTML*/
    background-image: linear-gradient(to top, var(--gris-claro) 0%, var(--claro-up-2) 20%); /*PARA FONDOS DEGRADADOS*/
}

.contenedor { /*Límites de la barra de navegación*/
  max-width: 120rem; /*1200px están limitando la longitud del contenedor*/
  margin: 0 auto;
}
.contenedor__lateral-izq {
  max-width: 25rem;
}
.contenedor__lateral-der{
  min-width: 35rem;
}


.contenedor__titulo-a {  /*DA COLOR A TÍTULOS*/
  background-color: var(--claro-up-2);
  color: var(--negro);
}
.contenedor__titulo-b {  /*DA COLOR A TÍTULOS*/
  background-color: var(--claro-up-1);
  color: var(--blanco);
}
.titulo__pildora-a {
  background-color: var(--gris-natural);
  color: var(--negro);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
}
.contenedor_lateral{
  color: var(--negro);
  background-color: var(--claro-up-2);
}
.boton{
  font-size: 1.5rem;
}
.margin-top {
  margin-top: 1rem;
}
.padding-top {
  padding-top: 1rem;
}




/* HOLY GRIAL CSS   */
.layouts {
  display: grid;
  grid:
    "header header header" auto
    "leftSide body rightSide" 1fr
    "footer footer footer" auto
    / auto 1fr auto;
  gap: 1rem;
}

.header { grid-area: header; }
.leftSide { grid-area: leftSide; }
.body { grid-area: body; }
.rightSide { grid-area: rightSide; }
.footer { grid-area: footer; }
/* END OF HOLY GRIAL CSS */



/* TIPOGRAFÍA --------------------------------------------- */
h1{
font-size: 4.8rem; /*38px*/
font-weight: bold;
}
h2{
font-size: 2.8rem;
}
h3{
font-size: 1.8rem;
}
h1, h2, h3{
text-align: center;
}





/* NAVEGACIÓN SUPERIOR   -------- */

/* Comportamiento en celular */
.nav-sup { 
  display: flex; 
  flex-direction: column;
  /*flex-direction: row; 
  align-items: center;
  Inutiliza a justify-content pero permite la adaptabilidad a dispositivos pequeños*/
}
.nav-sup__title{
  color: var(--negro);
  font-size: 3.8rem;
  font-family: 'Montserrat', serif;
  font-weight: bold;
}
.profile-pill{
  background-color: var(--gris-natural);
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  padding: 0.5rem;
}
.profile-pic{
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin-left: 1rem;
}

@media (min-width: 768px) { /*Medida para cuando se usa una TABLET*/
  .nav-sup {
      flex-direction: row;
      justify-content: space-between;/*Nos permite mover el contenido horizonalmente*/
  }
  .nav-sup__title{
    color: var(--negro);
    font-size: 3.5rem;
    font-family: 'Montserrat', serif;
    font-weight: bold;
  }
  .profile-pill{
    background-color: var(--gris-natural);
    border-radius: 1rem;
    display: flex;
    align-items: flex-end;
    padding: 0.5rem;
  }
  .profile-pic{
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    margin-left: 1rem;
  }
  .profile-js{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.nav-sup-bg{
  background-color: var(--blanco-natural);
}





/*  NAVEGACIÓN PRINCIPAL --------------------------------------------- */
.nav-bg { /*Color de la navegación por defecto*/
    background-color: var(--rojo-up);
    font-family: 'Roboto', sans-serif;
    border-radius: 2%;
}

.navegacion-principal {
    display: flex; /*Habilita la función "flex box" en el elemento que se le coloque*/
    flex-direction: column;
    /*flex-direction: row; 
    align-items: center;
    Inutiliza a justify-content pero permite la adaptabilidad a dispositivos pequeños*/
}


@media (min-width: 768px) { /*Medida para cuando se usa una TABLET*/
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;/*Nos permite mover el contenido horizonalmente*/
    }
}

.navegacion-principal a { /*Color del texto de la navegación a*/
    display: block;
    text-align: center;

    color: var(--blanco);
    padding: 1rem; /*Es una forma de "engordar" hacia adentro un elemento*/
    text-decoration: none; /*Agrega las decoraciones especiales al texto (subray*/
    font-size: 2rem;
    font-weight: 700;
    
}
.navegacion-principal a:hover {/*PSEUDO CLASE: Sirve para modificar cuando se pone el cursor encima del elemento*/
  color: var(--claro-up-1); /*Cambia el color de las letras */
}
.nav-activo {
  color: var(--claro-up-1);
}
.search-input{
  width: 20rem;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin: 1rem;
  border: none;
  font-family: var(--fuente-principal);
  white-space: nowrap;
}





/*  BODY ---------- */
.separar-encimados{
    padding-top: 2rem;
    /*Se usa para separar bloques entre los servicios ofrecios*/
}
.sombra{
box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54); /*Recuadro sombreado*/
background-color: var(--blanco);
padding: 2rem;
border-radius: 1rem;
}
.date_position {
  margin-left: 2rem;
}

/**SCROLL SNAP*/
@media (min-width: 768px) {
  .header{
  scroll-snap-align: center;
  scroll-snap-stop: always;
  }
} 


@media (min-width: 768px) { /*Medida para cuando se usa una TABLET*/
  .layout {
    width: 100%;
    display: flex;
    gap: 1.6rem;
    align-items: center;
    padding: 3rem;
}
}
.layout__titulo{
  align-items: flex-end;  /*Usando en el Doc JS*/
  margin-block-end: 10rem;
}
.grow1 { flex-grow: 1; }
.layout__limite {
  max-height: 61rem;
  overflow-y: scroll;
}
@media (min-width: 768px) {
  .btns-taskContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    min-width: 15rem;
  }
} 
.span-layout{
  font-weight: bolder;
}


/*MODAL RECHAZAR
 https://www.youtube.com/watch?v=Iaw9rFopXPY */
 .modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}
.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}
.modal__container{
  margin: auto;
  width: 40%;
  max-width: 1000px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition:var(--transition);
}
.modal__title{
  font-size: 2.5rem;
  font-weight: bold;
}
.modal__paragraph{
  margin-bottom: 1rem;
}
.modal__close{
  text-decoration: none;
  color: var(--blanco);
  background-color: var(--rojo-up);
  padding: 1em 3em;
  border: 1px solid ;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s;
}
.modal__close:hover{
  color: var(--rojo-up);
  background-color: #fff;
}
.modal_x{
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.modal_x:hover{
  cursor: pointer;
}
/*  MODAL ASIGNAR --  */
.modalAsig{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}
.modal--showAsig{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}
.modal__containerAsig{
  margin: auto;
  width: 40%;
  max-width: 1000px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition:var(--transition);
}
.modal__titleAsig{
  font-size: 2.5rem;
  font-weight: bold;
}
.modal_xAsig{
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.modal_xAsig:hover{
  cursor: pointer;
}





/* LATERALES  ------- */
/*Formulario*/
.formulario__lateral{
  display: flex;
  flex-direction: column;
}
.formulario__lateral option, 
.formulario__btn-send ::placeholder{
  font-size: medium;
  font-family: 'Montserrat';
  color: var(--gris);
}
.formulario__placeholder{
  font-size: medium;
  font-family: 'Montserrat';
}
.formulario__btn-send {
  background-color: var(--rojo-up);
  color: var(--blanco);
  font-family: 'Roboto';
  padding: 2rem, 2rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
  border: none;
}
@media (min-width: 768px)   {
  .formulario__btn-send {
      width: auto;
      padding: 0rem 1rem;
  }
}
.btn-hover:hover{
  cursor: pointer;
  text-decoration: none;
  color: var(--claro-up-1);
}

/* Resumen General */
.resumen-general {
  display: flex;
  flex-direction: column;
}
.resumen-div {
  margin-top: 1rem;
}

/* Filtros Historial */
.boton-hitorial{
  background-color: var(--rojo-up);
  color: var(--blanco);
  font-family: 'Roboto';
  padding: 2rem, 2rem;
  margin-top: 1rem;
  font-size: 1.8rem; /* Los botones del formulario lateral miden 2rem */
  text-decoration: none;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
  border: none;
}
@media (min-width: 768px)   {
   .boton-hitorial{
       width: auto;
       padding: 0rem 1rem;
   }
}
.boton-hitorial:hover{
  cursor: pointer;
  text-decoration: none;
  font-size: large;
  color: var(--claro-up-1);
}



/* Menu Hamburger 
https://www.instagram.com/p/CfEaplrjlEA/ */
#menu__toggle{
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before{
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after{
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box{
  left: 0 !important;
}
.menu__btn{
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 2.6rem;
  height: 2.6rem;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: var(--negro-natural);
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: '';
  top: -0.8rem;
}
.menu__btn > span::after {
  content: '';
  top: 0.8rem;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 20rem;
  height: 100%;
  margin: 0;
  padding: 8rem 0;
  list-style: none;
  background-color: #edeff1;
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__item{
  display: block;
  padding: 1.2rem 2.4rem;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
  align-items:flex-start;
}
.menu__icon{ /*Para darle formato a íconos que se utilicen*/
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu__icon-item:hover {
  background-color: #cfd8dc;
}
.menu__icon-item{
  display: flex;
  flex-direction: row;
  align-items: center;

}
/* End of Menu Hamburger */


/*    FOOTER --------------------------------------------- */
.footer{
    background-color: var(--primario-oscuro);
    padding: 1rem 0;
    margin-top: 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
  }
  
  .footer__texto{
    text-align: center;
    font-family: var(--fuenteprincipal);
    font-size: 2rem;
  }